@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
      //  Layout = parentLayout.ToString();
        Layout = "~/Views/Shared/_SettingsLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_SettingsLayout.cshtml";
    }
}


    <div class="d-flex h-100 w-100">
        <div class="d-flex gap-2 w-50 navTab">
            <partial name="_ManageNav" />
        </div>
        <div class="w-100 h-100 p-3">
            @RenderBody()
        </div>
    </div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}

