@page
@model LockoutModel
@section Styles {
    <link rel="stylesheet" href="@Url.Content("~/css/login.css")" />
}
@{
    ViewData["Title"] = "Locked out";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="form-wraper container-sm p-4 border border-2 w-50 rounded rounded-4">
    <div class="h-100">
        <h5 class="text-center m-0 fw-bold fs-5 mb-3" style="font-size: 2.2rem;">This account has been temporary banned, please try again later.</h5>

        <div class="create-account d-flex w-100 justify-content-center align-items-center">
            <hr class="w-25 mx-2">
            <p class="text-center m-0">
                <a asp-page="./Login" asp-route-returnUrl="~/" class="underline-0 text-center"
                   style="color: var(--black) !important; cursor: pointer;">Back to login</a>
            </p>
            <hr class="w-25 mx-2">
        </div>

    </div>
</div>