    @page
@model LoginModel
@section Styles {
    <link rel="stylesheet" href="@Url.Content("~/css/login.css")" />
}
@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

}


<div class="form-wraper container-sm p-4 border border-2 w-50 rounded rounded-4">
    <form id="account" method="post" class="h-100">
        <h1 class="text-center m-0 fw-bold" style="font-size: 2.2rem;">Log in</h1>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

        <div class="input-group input-group-email has-validation mb-3">
            <span class="input-group-text">
                <i class="fa-regular fa-circle-user"></i>
            </span>
            <div class="form-floating is-invalid">
                <input asp-for="Input.userName" class="form-control" autocomplete="username" aria-required="true" placeholder="JhonDoe" />
                <label asp-for="Input.userName" class="form-label"></label>
                <span asp-validation-for="Input.userName" class="text-danger"></span>
            </div>
        </div>

        <div class="input-group has-validation mb-3">
            <span class="input-group-text">
                <i class="fa-solid fa-lock"></i>
            </span>
            <div class="form-floating is-invalid">
                <input asp-for="Input.Password" type="password" class="form-control" autocomplete="current-password"
                       aria-required="true" placeholder="password" />
                <label asp-for="Input.Password" class="form-label">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        </div>
        <div class="checkbox mb-3">
            <label asp-for="Input.RememberMe" class="form-label">
                <input class="form-check-input" asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>

        <div class="mb-3">
            <button id="login-submit" type="submit" class="w-100 btn btn-lg">Log in</button>
        </div>
        <div class="d-flex flex-row-reverse">
            <p>
                <a id="forgot-password" class="underline-0"
                   style="color: var(--black) !important; cursor: pointer;">Forgot your password ?</a>
            </p>
        </div>

        <div class="create-account d-flex w-100 justify-content-center align-items-center">
            <hr class="w-25 mx-2">
            <p class="text-center m-0">
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="underline-0 text-center"
                   style="color: var(--black) !important; cursor: pointer;">Create Account</a>
            </p>
            <hr class="w-25 mx-2">

        </div>



    </form>
</div>

@section Scripts {
    <script>
        $('#account').on('submit', function () {
            if (!$('#account').valid()) return;
            JsLoadingOverlay.show({
                "overlayBackgroundColor": "#666666",
                "overlayOpacity": "0.7",
                "spinnerIcon": "ball-clip-rotate-pulse",
                "spinnerColor": "#ffd43b",
                "spinnerSize": "2x",
                "overlayIDName": "overlay",
                "spinnerIDName": "spinner",
                "offsetX": 0,
                "offsetY": 0,
                "containerID": null,
                "lockScroll": true,
                "overlayZIndex": 999,
                "spinnerZIndex": 999
            });
        })
    </script>

    <partial name="_ValidationScriptsPartial" />
}
